html {
	font-size: 62.5%;
  }
  
  .wrapper {
	width: 100%;
	height: auto;
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  
  header {
	height: 6.510vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-block: 2.831vh;
	padding-inline: 2rem;
	background: #17245f;
  }
  
  nav {
	margin-left: auto;
  }
  
  .nav_links {
	list-style: none;
  }
  
  .nav_links li {
	display: inline-block;
	padding: 0px 1.5rem;
  }
  
  .homeLink{
	text-decoration:underline;
  }

  li a {
	color: #fff;
	font-family: 'Inter';
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
  }
  
  li a:hover {
	color: #feeb6b;
	transition: 0.2s;
  }
  
  .logo, .footer_logo {
	width: 8.9rem;
	height: 8.9rem;
	background-color: white;
	border-radius: 50%;
  }
  
  .logo{
	margin-right: 1rem;
  }
  
  .company_name {
	width: auto;
	height: auto;
  
	color: #fff;
	font-family: 'Lexend Deca';
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }  

  .featured {
    width:100%;
    height:28.891vw;
    background: #22409A;

    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin-top: 2.5rem;
    flex-direction: column;
  }
  
  .featured_img {
	width:100%;
	height:28.891vw;
  
	display: block;
	object-fit: cover;
	/* object-position: 100% 28%; */
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
  }
  
  .main_title {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	text-align: center;
    z-index: 2;
  }

  @media screen and (max-width: 768px) {

	.main_title {
	  font-size: 6rem;
	  margin-top: 20px;
	  margin-bottom: 20px;
	}
}
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
	.main_title {
		font-size: 8rem;
		margin-top: 20px;
		margin-bottom: 20px;
	  }
	
  }
  

.to_services{
	width:85%;
	height:33.28894806924101vw;
	background: #22409A;
	
	margin-left:7.5%;
	margin-right: 7.5%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-flow: nowrap;
	margin-top: 50px;
	margin-bottom: 50px;
	flex-direction: row;
  }



  .prog_bar{
	display:flex;
   justify-content:center;
   align-items: center;
  }

  form{
	background-color: #22409A;
	height:auto;
	width:90%;
	margin: 3rem;
  
		 }
	
	
	h1{

	text-align: left;
	color: white;
	display:flex;
	justify-content: flex-start;
	margin-top:2rem;
	margin-right:2rem;
	margin-left:1.5rem;
	font-family:'Josefin Sans';

	}
	h2{
	  color:white;
	  display: flex;
	  align-items: flex-start;
	  margin-left:2rem;
	  margin-top:2rem ;
	  margin-bottom:2rem ;
	  min-width: 70vw;
	  font-size: 1.5rem;
	  font-weight: 600;
	}

  .q1{
margin:3rem;
font-family:'Josefin Sans';
font-size: 1.5rem;
 font-weight: 600;
  }

  .q2{
margin:3rem;
font-family:'Josefin Sans'; 
font-size: 1.5rem;
font-weight: 600;
 }
.q3{
margin:2rem;
font-family:'Josefin Sans'; 
font-size: 1.5rem;
font-weight: 600;
}
.q4{
margin:2rem;
font-family:'Josefin Sans';
font-size: 1.5rem;
font-weight: 600;
}


select {
    width: 20rem; 
    height: 4rem; 
	font-family: 'Josefin Sans';
    font-size: 1.6rem; 
	border-radius:3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('images/arrow-down-svgrepo-com.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 3rem auto, 100%;
}

.medHQ{
	display:flex;
	justify-content: flex-start;
	margin-left:5rem;
}
.DiabetesQues{
	display:flex;
	justify-content: flex-start;
	margin-left:5rem;
}

.HCQ{
	display:flex;
	justify-content: flex-start;
	margin-left:5rem;
}

.HyperTensQ{
	display:flex;
	justify-content: flex-start;
	margin-left:5rem;
	font-weight: 600;
}

.q5{
margin:2rem;
font-family:'Josefin Sans';
text-align: start;
flex-direction:column;
font-size: 1.5rem;
font-weight: 600;
}

ul{
    list-style-type: none; 
    color:#FFF;  
}
ul.li{
    font-family:'Josefin Sans'; 
}
.q6{
margin:2rem;
font-family:'Josefin Sans';
font-size: 1.5rem;
font-weight: 600;
}


input[type=checkbox]{
    font-family: 'Josefin Sans';
	cursor:pointer;
}




.checkbox-label{
font-size: 1.5rem;
}

	


.q7{
font-family: 'Josefin Sans';
color:#FFF;
font-size: 1.5rem;
 font-weight: 600;

}

input[type="radio"] {
    margin-right: 1.5rem !important; 
	margin-left: 5rem !important;
    height:2rem;
    width:7rem;
}

.rbLabel{
display: flex;
justify-content: flex-start;
font-size: 1.5rem;
font-weight: 600;

}

.q8{
font-family: 'Josefin Sans';
color:#FFF;
font-size: 1.5rem;
 font-weight: 600;

}
.q9{
font-family: 'Josefin Sans';
color:#FFF;
font-size: 1.5rem;
font-weight: 600;
}

.q10{
	font-family: 'Josefin Sans';
	color:#FFF;
	font-size: 1.5rem;
    font-weight: 600;
	
}

	

input[type="text"]{
	margin-left: 2rem !important;
	margin-right: 2rem !important;
	display: flex;
	justify-content: flex-start;
}




.buttons{
border-radius: 1.5rem;
padding:1.5rem 3.2rem;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
margin-right: 1.5rem;
margin-left: 1.5rem;
text-align: center;
text-decoration: none;
display:flex;
justify-content:flex-end;
font-size:20%;
}

#b1{
	background-color:black;
	color:#fff;
	border-radius: 4rem;
	padding:1.5rem 7rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:1.5rem;
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
	font-family:'Josefin Sans';

}
#b2{
	background-color:black;
	color:#fff;
	border-radius: 4rem;
	padding:1.5rem 7rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:1.5rem;
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
	font-family:'Josefin Sans';

}
  
.buttontext1{
 display: flex;
 justify-content: center !important;
}

.buttontext2{
display: flex;
justify-content: center !important;	
}

  footer {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	padding: 1.5rem 5%;
	background: #17245f;
	row-gap: 0.5rem;
  }
  
  .LOREM_IPSUM {
	color: #fff;
	text-align: center;
	font-family: JetBrains Mono;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
  
  .operating_hrs,
  .contact_details {
	color: #feeb6b;
	text-align: center;
	font-family: JetBrains Mono;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 1 0;
	width: 0;
  }
  
  .footer_list {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
  
  }
  
  .company_name_footer {
	color: #fff;
	font-family: Lexend Deca;
	font-size: 2.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0.4rem;
	text-align: center;
  }
  
  .company_logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin-bottom: 0.4rem;
  }
  
  .footer_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
  }
  
  .icon_link {
	width: max(3rem, 2.930vw);
	height: max(3rem, 2.930vw);
	border-radius: 50%;
	object-fit: cover;
	background-color: white;
	margin: 0 1rem;
  }
  

 
  @media only screen and (min-width: 1800px) {
	html {
	  font-size: 16px;
	}
  }
  
  /* TABLET-LANDSCAPE   */
  @media only screen and (max-width: 1375px) {
	html {
	  font-size: 56.25%;
	  /* 1rem = 9px; 9px/16px = 56.25% */
	}
  
	.container {
	  display: grid;
	  width: 100%;
	  height: 155vw;
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  padding-block: 1rem;
	
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(6, 1fr);
	}
  }
  
  
  /* TABLET-PORTRAIT */
  @media only screen and (max-width: 1060px) {
	html {
	  font-size: 50%;
	  /* 1rem = 8px; 8px/16px = 50% */
	}
  
	.service__logo {
	  margin-left: 2.5rem;
	  width: 12vw;
	  height: 12vw;
	}
  
	.container {
	  display: grid;
	  width: 100%;
	  height: 155vw;
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  padding-block: 1rem;
	
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(6, 1fr);
	}
  
	.company_name {
	  font-size: 2.7rem;
	}
	
	  li a {
	  font-size: 1.7rem;
	  font-weight: normal;
	}
  
	.nav_links li {
	  padding: 0px 0.65rem;
	}
	
	header {
	  height: 6.510vw;
	  padding-block: 2rem;
	  padding-inline: 2rem;
  
	}
  
	.logo
	{
	  width: 6rem;
	  height: 6rem;
	}
  }
  


  
  
  @media only screen and (max-width: 680px) {
	html {
	  font-size: 38%;
	  /* 1rem = 8px; 8px/16px = 50% */
	}
  
	.service__logo {
	  margin-left: 2.5rem;
	  width: 13.542vw;
	  height: 13.542vw;
	}
  
	.text__container p {
	  margin-bottom: 1rem;
	}
  }
  




  @media only screen and (max-width: 680px) {
	html {
	  font-size: 38%;
	  /* 1rem = 8px; 8px/16px = 50% */
	}	
}

  /* PHONE */
  @media only screen and (max-width: 530px) {
	html {
	  font-size: 37.5%;
	  /* 1rem = 6px; 6px/16px = 37.5% */
	}
  
	.container {
	  display: grid;
	  width: 100%;
	  height: 190vh;
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  padding-block: 1rem;
	
	  grid-template-columns: repeat(1, 1fr);
	  grid-template-rows: repeat(12, 1fr);
	}
  
	header {
	  height: 6.510vw;
	  padding-block: 2rem;
	  padding-inline: 2rem;
  
	}
  
	button {
	  width: 10.938vh;
	  height: 2.214vh;
	  font-size: 1.2rem;
	}
  
	li a {
	  font-size: 1.5rem;
	  font-weight: normal;
	}
  
	.nav_links li {
	  padding: 0px 0.3rem;
	}
  
	.logo {
	  width: 4.2rem;
	  height: 4.2rem;
	}
  
	.company_name {
	  font-size: 2rem;
	}
  
	.service__logo{
	  width: 10rem;
	  height: 10rem;
	}
  
	.company_name_footer {
	  width: 25vw;
	  font-size: 2rem;
	}
  
	.LOREM_IPSUM {
	  font-size: 1.4rem;
	}
  
  }
  
  @media only screen and (max-width: 415px) {
	html {
	  font-size: 30%;
	}
  }