@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap");

.wrapper{
	width:100%;
	height:1400px;	
}

* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 25px 5%;
	background: #17245f;
  }
  
  nav {
	margin-left: auto;
  }
  
  .nav_links {
	list-style: none;
  }
  
  .nav_links li {
	display: inline-block;
	padding: 0px 15px;
  }
  
  li a {
	font-family: "Lexend Deca", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
  }

  li a:hover{
	color: #FEEB6B;
        transition: 0.2s;
  }
  
  .nav__link {
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
