@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title {
  background: #4cbaf4;
  color: white;
  font-size: 4.3rem;
  text-align: left;
  padding: 2rem;
  font-family: Montserrat;
}

.comment_form {
  background: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

div.card {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border: 0.2rem solid black;
}

.star {
  font-size: 2.4rem;
  color: gray;
}

.selected {
  color: gold;
}

.button-container {
  margin-right: 150vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.select-stars {
  display: block;
  padding: 0.5rem;
  border: 2px solid gray;
}

.card > textarea {
  min-width: 98%;
  max-width: 98%;
  min-height: 10rem;
  font-family: Montserrat;
  padding: 1.4rem;
}

#checkbox-container {
  font-size: 1.4rem;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  gap: 1rem ;
}

input[type="reset"] {
  border: 2px solid;
  padding: 1rem 1.5rem;
  background-color: white;
  width: 21rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  /* Font size */
  margin: 12px 0;
  /* Adjust margin */
  border-radius: 25px;
  /* Adjust rounded corners */
}

input[type="submit"], input[type="button"] {
  border: 2px solid;
  /* Remove default border */
  padding: 10px 15px;
  /* Add padding */
  background-color: black;
  color: white;
  width: 21rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  /* Font size */
  margin: 12px 0;
  /* Adjust margin */
  border-radius: 25px;
  /* Adjust rounded corners */
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: gray;
}

.selected {
  color: gold;
}

.star_comments {
  font-size: 24px;
  color: gray;
}

.star.selected_comments {
  color: gold;
}

.comment {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
}

.comment-text pre {
  font-family: 'Montserrat';

}

.comment-rating {
  font-size: 18px;
  color: #ff9800;
}

.comment-author {
  font-size: 14px;
  color: #555;
}

.comment-date {
  font-size: 12px;
  color: #999;
}

.comment-text {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}
