@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap");

.wrapper {
    background-color: #4574FF;
    display: flex;
	padding-block: 10rem;
    justify-content: center;
}

.title {
	font-size: 4rem;
    text-align: center;
    font-family: Montserrat;
}

.form {
    padding: 5vh;	
    width: 65%;
    background: white;
    border: 0.2rem solid black; /* Add solid border */
}

.form hr {
    border: none;
    height: 0.2rem; 
    background-color: black; 
    width: 100%; /* Set width to 100% to reach the border */
}

label {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 5rem;
	font-size: 2.2rem;
	font-family: Montserrat;
}

input[type="checkbox"] {
    margin-left: 5rem ;
}

input[type="checkbox"] + label{
    display: contents;
    margin-top: auto;
    margin-left: 5rem;
	font-size: 2.2rem;
	font-family: Montserrat;
}

input[type="text"],
input[type="password"] {
    display: block;
    border: 0;
	border-bottom: 0.1rem solid black;
    background-color: transparent; 
    width: 30rem;
    padding: 0.5rem;
	margin-left: 5rem;
	font-size: 2.2rem;
	font-family: Montserrat;
}

p.account-login-label, form a {
	font-size: 2.2rem;
	margin-left: 5rem;
	font-family: Montserrat;
    color: black;
}

a.login-link {
    font-weight: bold;
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 5vh;
    margin-left: 70%;
	display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: space-between; 
}

input[type="button"]{
	border: 2; 
    padding: 10px 15px; 
	background-color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 28px; 
    margin: 12px 16px; 
    border-radius: 25px; 
    font-family: Montserrat;
}


input[type="submit"]{
    border: 2; /* Remove default border */
    padding: 10px 15px; /* Add padding */
	background-color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 28px; /* Font size */
    margin: 12px 16px; 
    border-radius: 25px;
    font-family: Montserrat;
}
